/* Stylesheet for Seasons Website */

/* import stylesheet for web font from remote server */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
  margin: 0;
}

#container {
  max-width: 60em;
  margin: auto;
}

header, nav, footer {
  padding: 1em;
}

h1, p, nav {
  font-family: Quicksand, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
}

.selected {
  background-color: yellow;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.3em;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

article {
  padding: 1em;
  padding-bottom: 0;
}

article p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

h1 > a:link, h1 > a:visited {
  text-transform: none;
}

a:hover {
  color: magenta;
}

a:active {
  color: yellow;
}

a.seasons:active {
  opacity: 0.6;
}

/* media query for preferred color scheme */

@media only screen and (prefers-color-scheme: dark) {

  body {
    background-color: #111111; /* dark gray */
    color: white;
  }

  a:link, a:visited {
    color: white;
  }

  a:hover {
    color: green;
  }

  a:active {
    color: blue;
  }

  .selected {
    background-color: blue;
  }

}

/* media queries for layout */

@media (min-width: 30em) {

  nav {
    flex-direction: row;
    gap: 1em;
  }

}

@media (min-width: 45em) {

  main {
    grid-template-columns: 1fr 1fr;
  }

  article {
    padding-top: 0;
  }

}
